@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto-Reg';
    src: url('../src/assets/fonts/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: 'Roboto-Bold';
    src: url('../src/assets/fonts/Roboto-Bold.ttf');
  }

  body {
    @apply font-Roboto-Reg min-h-screen flex justify-center items-center bg-bg-color;
  }

  main {
    @apply max-w-4xl w-full bg-white rounded-3xl;
  }
}

@layer components {
  .container {
    @apply flex gap-4 p-6;
  }

  .start {
    @apply self-center px-10;
  }

  .list-icons {
    @apply flex items-center gap-4 pb-2 text-bg-color;
  }
}
